PORT=3000
JWT_SECRET=troque-essa-chave-em-producao
ADMIN_KEY=bairro-admin-2026

DB_NAME=BairroConectadoDB
DB_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=(localdb)\MSSQLLocalDB;Database=BairroConectadoDB;Trusted_Connection=Yes;TrustServerCertificate=Yes;
DB_MASTER_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=(localdb)\MSSQLLocalDB;Database=master;Trusted_Connection=Yes;TrustServerCertificate=Yes;
